

body {
  background-color: var(--bg-color);
}


.topic-list .topic-list-item-separator td,
.topic-post-visited-line {
  border-bottom: 1px solid var(--separator-color) !important;
  border-top: none !important;
}
.topic-list .topic-list-item-separator td span,
.topic-post-visited-message,
.chat-message-separator {
  color: var(--separator-color) !important;
  background-color: var(--bg-color) !important;
}
.chat-message-separator .divider {
  background-color: var(--separator-color) !important;
}

a.mention {
  color: var(--primary-high-or-secondary-low); // TODO: light color
}

.presence-users {
  background-color: var(--bg-color); // TODO: is this required?
}
#reply-control {
  background-color: var(--bg-color);
}
.user-stream .item,
.user-stream .user-stream-item {
  background-color: var(--bg-color);
}


.d-header {
  border-bottom: 8px solid #E8291C;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

// Header logos to pure white
.d-header-icons .d-icon,
.header-sidebar-toggle button .d-icon {
  opacity: 1;
  color: var(--header_primary);
}

// Remove ADVERTISEMENT-labeld for DFP, AdSense
.google-adsense-label {
  display: none;
}

.google-dfp-ad-label {
  display: none;
}

// Remove extra space between before ad in categories view
#list-area {
  margin-bottom: 20px;
}

// Hide the dangerous Mailing list mode -setting
.user-preferences .pref-mailing-list-mode {
  display: none;
}

// Header text/lock from gray to white
.extra-info-wrapper span {
  color: #fff;
}

.extra-info-wrapper svg {
  fill: #fff;
}

.passkey-login-button {
  display: none;
}

.muted-categories {
  display: none;
}

#new-group-chat {
   display: none;
}

a[href="/about"] {
  pointer-events: none;
  color: gray;
  cursor: default;
  text-decoration: none;
}

.top-tabs.tabs-list > a:not(#user-menu-button-all-notifications):not(#user-menu-button-bookmarks):not(#user-menu-button-replies):not(#user-menu-button-messages) {
  display: none;
}
